<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>Facelet Title</title>
</h:head>
<h:body>
    <h2> Current Lesson on JFACE</h2>

    <h:form>
        <h:graphicImage value="my.png"/>
        <br>
            <h:inputText value="#{mancomp.input}" />
        </br>
        <br>
            <h:commandButton value="Submit" action="#{mancomp.submit}">
            </h:commandButton>
        </br>
        <br>

            <h:outputText value="#{mancomp.output}" />
        </br>
    </h:form>


</h:body>
</html>